section.hero {
  justify-content: space-between;
}


.hero .avatar {
  height: 86vh;
  width: 55vh;
}
.right-section {
 
 
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--title);
}
.hello {
  font-size: 1.5rem;
  font-weight: 100;
}
.introName {
  color: var(--orange);
  font-size: 1.75rem;
}
.inroduction {
  font-size: 1.5rem;
}

.introPara {
 font-size: 0.9rem;
  margin-top: 20px;
  line-height: 2.2rem;
  color: var(--subtitle);
  margin-bottom: 2rem;
}
.icons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
 
  color: var(--orange);
}
.icon:hover {
  rotate: 360deg;
  transition: 0.4s;
  cursor: pointer;
}
@media (max-width: 700px) {
    section.hero{
        margin-top: -0.4em;
    flex-direction: row-reverse;
    justify-content: space-around;
    
  }

  .hero .avatar {
    height:20vh;
    width: 15vh;
    border-radius: 50% ;
    border: 1px solid var(--orange);
    padding:3px
  }
  .right-section {
   
    width: 60%;
    padding: 1rem;
    font-size: 0.5rem;
    
  }
  .hello {
    font-size: 0.8rem;
    font-weight: 100;
  }
  .introName {
    color: var(--orange);
    font-size: 0.9rem;
  }
  .inroduction {
    font-size: 0.9rem;
  }
  
  .introPara {
   
   font-size: 0.5rem;
    margin-top: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1rem;
  }
  .icons {
  
    font-size: 1.5rem;
    margin: 0.4rem;
    
  }
}