@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,500;0,700;1,500&family=Sigmar&display=swap');
html {
  font-family: 'Roboto', sans-serif;
  letter-spacing:1px  ;
  scrollbar-color:red gray;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,*:before,*::after{box-sizing: inherit;}
*{
  margin: 0;
  padding: 0;
}

:root{
  --primary:#000;
  --secondary :rgb(24 24 27);
  --border: #ffe5e516;
  --title:rgb(244 244 245);
  --subtitle:rgb(161 161 170);
  --bgHeader:rgb(39,39,42);
  --orange: #e47d57e0;
  --icon-hover: #d4d4d8;
  --container-padding:4.8rem;
  --button:#ffe5e516;

}
.light{
  --button:rgba(25, 20, 20, 0.847);
  --primary:rgb(250, 250, 250);
  --secondary :#fff;
  --border: rgba(202,202,202,0.518);
  --title:rgb(39 39 42);
  --subtitle:rgb(82 82 91);
  --bgHeader:rgb(253,253,253);
  --orange: #e56739;
  --icon-hover: #333;

}
body{
  background-color: var(--primary);
  color:#fff;
}
.container{
border: 2px solid var(--border);
width: 80%;
margin-left: auto;
margin-right: auto;
background-color:var(--secondary) ;
}
.divider{
  border-bottom: 1px solid var(--border);
  margin:1.5rem 0;
}
li{
  list-style : none;
  
}
a{
  text-decoration: none;
  transition: 0.5s;
  
}
a:hover{
  cursor:pointer;
}
.flex{
  display: flex;
  align-items: center;
}
button{
  all:unset;
  cursor:pointer;}/*eliminer tout les fonts par defaut de buton*/
  button :active{
    scale:0.9;
  }

  ::-webkit-scrollbar{
    width: 0.5rem;
  }
 ::-webkit-scrollbar-track{
  border: 1px solid rgb(8, 0, 0);
  box-shadow: inset 0 0 1px 1px rgba(54, 58, 83, 0.635);
  border-radius: 0.5rem;
  background: rgba(54, 58, 83, 0.635);
 }
  
 ::-webkit-scrollbar-thumb{
  background:  rgb(78, 75, 75);
  border-radius: 2px;
 }
  
 ::-webkit-scrollbar-thumb:hover{
  background: rgba(188, 189, 194, 0.899);
 }

  .scrollTop{
    background-color: var(--orange);
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    text-align: center;
    border: 1px solid var(--border);
    color: #fff
  }
  
  .scrollTop:hover{
    background-color:  #e47d57;
    
    ;
  }
  
  
  
  
  
  @media(max-width: 500px){
    .container{
     
      padding:0 1.7rem;
    }
    .scrollTop{
      opacity: 0.4;
      width: 2rem;
      height: 2rem;
    }
  }